<script lang="ts" setup>
import { useproductStore } from '@/stores/Product';
import { usePromotionStore } from '@/stores/Promotion';
import { computed, ref } from 'vue';

const promotionStore = usePromotionStore()
const productStore = useproductStore()
</script>
<template>
  <!-- use button group to group it -->
  <!-- use v-model at v-radio group it won't work at the v-radio -->
  <v-radio-group v-model="promotionStore.selectedPromotionId" :mandatory="false">
    <v-list style="height: 500px; overflow-y: scroll; background-color: rgba(180, 143, 81, 1)">
      <div>
        <!-- mb = marginbelow -->
        <v-card v-for="promotion in promotionStore.searchfilteredPromotions" :key="promotion.id" class="mx-auto my-4"
          width="400" prepend-icon="mdi-ticket-percent-outline" :id="'card-' + promotion.id"
          :class="{ 'cardcannotuse': promotion.status !== 'enable', 'cardcanuse': promotion.status === 'enable' }">
          <template v-slot:title>
            {{ promotion.name }}
            <v-radio :label="promotion.code" :value="promotion.id" :disabled="promotion.status !== 'enable'"></v-radio>

          </template>


          <v-card-text class="text-body-1">
            <div class="mb-4">
              <template v-if="promotion.PromotionItem && promotion.PromotionItem.length === 1" class="ma-10">

                <template v-for="(item, index) in promotion.PromotionItem" :key="index">

                  <!-- Check if item has no product id -->
                  <template v-if="item.productid === null">

                    <!-- Check if item has conditionPrice -->
                    <template v-if="item.conditionPrice !== null && item.conditionQty === null">


                      <!-- Check if item has discountPrice -->
                      <template v-if="item.discountPrice !== null && item.discountPercent === null">
                        <p>ยอดซื้อขั้นต่ำ: {{ item.conditionPrice }} Baht</p>
                        <p>ส่วนลด: {{ item.discountPrice }} Baht</p>
                        <p>ใช้ได้กับทุกสินค้า</p>
                      </template>
                      <!-- Check if item has discountPercent -->
                      <template v-else-if="item.discountPrice === null && item.discountPercent !== null">
                        <p>ยอดซื้อขั้นต่ำ: {{ item.conditionPrice }} Baht</p>
                        <p>ส่วนลด: {{ item.discountPercent }}%</p>
                        <p>ใช้ได้กับทุกสินค้า</p>
                      </template>
                    </template>
                    <!-- Check if item has conditionQty -->
                    <template v-if="item.conditionPrice === null && item.conditionQty !== null">


                      <!-- Check if item has discountPrice -->
                      <template v-if="item.discountPrice !== null && item.discountPercent === null">
                        <p>ยอดซื้อขั้นต่ำ: {{ item.conditionQty }} ชิ้น</p>
                        <p>ส่วนลด: {{ item.discountPrice }} บาท</p>
                        <p>ใช้ได้กับทุกสินค้า</p>
                      </template>
                      <!-- Check if item has discountPercent -->
                      <template v-else-if="item.discountPrice === null && item.discountPercent !== null">
                        <p>ยอดซื้อขั้นต่ำ: {{ item.conditionQty }} ชิ้น</p>
                        <p>ส่วนลด: {{ item.discountPercent }} บาท</p>
                        <p>ใช้ได้กับทุกสินค้า</p>
                      </template>
                    </template>
                  </template>
                  <!-- Check if item has no product id -->
                  <template v-if="item.productid !== null">

                    <!-- Check if item has conditionPrice -->
                    <template v-if="item.conditionPrice !== null && item.conditionQty === null">


                      <!-- Check if item has discountPrice -->
                      <template v-if="item.discountPrice !== null && item.discountPercent === null">
                        <p>เมื่อซื้อ "{{ productStore.searchProduct(item.productid)?.name }} "</p>
                        <p>ยอดซื้อขั้นต่ำ: {{ item.conditionPrice }} บาท</p>
                        <p>จะได้รับส่วนลด: {{ item.discountPrice }} บาท</p>
                      </template>
                      <!-- Check if item has discountPercent -->
                      <template v-else-if="item.discountPrice === null && item.discountPercent !== null">
                        <p>เมื่อซื้อ "{{ productStore.searchProduct(item.productid)?.name }}"</p>
                        <p>ยอดซื้อขั้นต่ำ: {{ item.conditionPrice }} บาท</p>
                        <p>จะได้รับส่วนลด: {{ item.discountPercent }}%</p>
                      </template>
                    </template>
                    <!-- Check if item has conditionQty -->
                    <template v-if="item.conditionPrice === null && item.conditionQty !== null">


                      <!-- Check if item has discountPrice -->
                      <template v-if="item.discountPrice !== null && item.discountPercent === null">
                        <p>เมื่อซื้อ "{{ productStore.searchProduct(item.productid)?.name }} "</p>
                        <p>ครบ {{ item.conditionQty }} หน่วย</p>
                        <p>จะได้รับส่วนลด: {{ item.discountPrice }}บาท</p>
                      </template>
                      <!-- Check if item has discountPercent -->
                      <template v-else-if="item.discountPrice === null && item.discountPercent !== null">
                        <p>เมื่อซื้อ "{{ productStore.searchProduct(item.productid)?.name }}"</p>
                        <p>ครบ {{ item.conditionQty }} หน่วย</p>
                        <p>จะได้รับส่วนลด: {{ item.discountPercent }}%</p>
                      </template>
                    </template>
                  </template>



                </template>
              </template>
              <template v-else-if="promotion.PromotionItem && promotion.PromotionItem.length >= 2" class="ma-10">
                <p>Promotionitem more than or equal 2 ทำไม่ทัน</p>
              </template>
              <template v-else-if="promotion.PromotionItem === undefined || promotion.PromotionItem.length === 0"
                class="ma-10">
                <p>No Promotion Items</p>
              </template>

            </div>
            <v-expansion-panels>
              <v-expansion-panel title="Detail"
                :class="{ 'cardcannotuse': promotion.status !== 'enable', 'cardcanuse': promotion.status === 'enable' }">
                <v-expansion-panel-text class="text-body-2">
                  <p>Start Date: {{ promotion.startdate }}</p>
                  <p>End Date: {{ promotion.enddate }}</p>
                  <p>Status: {{ promotion.status }}</p>
                </v-expansion-panel-text>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-card-text>
        </v-card>
      </div>
    </v-list>
  </v-radio-group>
</template>
<style scoped>
/* this style for card that is not enable */
.cardcannotuse {
  background-color: #a2a2a2;

}

.cardcanuse {
  background-color: #ffffff;
}
</style>