<script setup lang="ts">
import { inject, ref, type Ref } from 'vue';
import { useUserStore } from '@/stores/user';

const drawer = inject<Ref<boolean>>('drawer');
const rail = inject<Ref<boolean>>('rail');
const loginStore = useUserStore();

const selectedMenuItem = ref<string>('');

const updateSelected = (value: string) => {
  selectedMenuItem.value = value;
  console.log('Selected Menu Item:', selectedMenuItem.value);
};  
</script>

<template>
<v-list density="compact" nav v-if="loginStore.isLoggedIn">
  <v-navigation-drawer color="#DFBA92" v-model="drawer" :rail="rail" permanent @click="rail = false">
    
      <v-list-item prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg" :title="loginStore.loggedInUser ? loginStore.loggedInUser.name : ''">
        <template v-slot:append>
          <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
        </template>
      </v-list-item>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item prepend-icon="mdi-cart" title="POS" value="pos" @click="updateSelected('pos')"
          :to="{ name: 'pos' }"></v-list-item>
        <v-list-item prepend-icon="mdi-package-variant-closed" title="Stock" value="stock"
          @click="updateSelected('stock')" :to="{ path: '/stock' }"></v-list-item>
        <v-list-item prepend-icon="mdi-account-group" title="Customer Management" value="customer"
          @click="updateSelected('customer')" :to="{ path: '/customer' }"></v-list-item>
        <v-list-item prepend-icon="mdi-account" title="Employee Management" value="employee"
          @click="updateSelected('employee')" :to="{ path: '/employee' }"></v-list-item>
        <v-list-item prepend-icon="mdi-account-tie" title="User Management" value="user"
          @click="updateSelected('user')" :to="{ path: '/user' }"></v-list-item>
          <v-list-item prepend-icon="mdi-logout" title="Logout" value="login"
          @click="loginStore.logout()" :to="{ path: '/' }"></v-list-item>
      </v-list>
        
    

    <MainAppBar :selectedMenuItem="selectedMenuItem" />
  </v-navigation-drawer>
</v-list>
</template>


