<script setup lang="ts">
import { inject, ref, watchEffect, type Ref } from 'vue'
import { useRoute } from 'vue-router'

const rail = inject<Ref<boolean>>('rail')
const route = useRoute()

const icon = ref<string>('')
const title = ref<string>('')

const currentTime = ref<string>('')

function ShowTime() {
  const timeNow = new Date();
  currentTime.value = timeNow.toLocaleTimeString();
}
setInterval(ShowTime, 1000) 

watchEffect(() => {
  if (route.name === 'pos') {
    icon.value = 'mdi-cart'
    title.value = 'Point Of Sale'
  } else if (route.name === 'stock') {
    icon.value = 'mdi-package-variant-closed'
    title.value = 'Stock Management'
  }else if (route.name === 'customer') {
    icon.value = 'mdi-account-group'
    title.value = 'Customer Management'
  }else if (route.name === 'employee') {
    icon.value = 'mdi-account'
    title.value = 'Employee Management'
  }else if (route.name === 'user') {
    icon.value = 'mdi-account-tie'
    title.value = 'User Management'
  }else if (route.name === 'login') {
    icon.value = 'mdi-login'
    title.value = 'Login'
  }  else {
    title.value = 'Login' 
  }
})
</script>

<template>
  <v-app-bar color="#744522" >

    <template v-slot:prepend>
      <v-app-bar-nav-icon @click.stop="rail = !rail"></v-app-bar-nav-icon>
    </template>

    <v-app-bar-title ><v-icon >{{ icon
    }}</v-icon> {{ title }}
    </v-app-bar-title>


    <v-spacer></v-spacer>
    <div class="TimeTitle">{{ currentTime }}</div>

    
  </v-app-bar>
</template>

<style>

.TimeTitle {
  color: rgb(193, 178, 178);
  font-size: 35px;
  margin-right: 45px;
}
</style>
