<script setup lang="ts">
import { provide } from 'vue'
import { ref } from 'vue'
import { RouterLink, RouterView } from 'vue-router'
import MainAppBar from './components/MainAppBar.vue'
import MainMenuVue from './components/MainMenu.vue'
const rail = ref(true)
const drawer = ref(true)
provide('rail', rail)
provide('drawer', drawer)
</script>

<template>
  
  <v-parallax src="\src\assets\login\bg5.jpg">
    <div style="background-color: rgba(0, 0, 0, 0.2); height: 100%; width: 100%; ">
    <v-layout class="rounded rounded-md">
      <MainAppBar></MainAppBar>
      <MainMenuVue></MainMenuVue>
      <v-main class="align-center justify-center" style="min-height: 300px">
        <div class="pa-6">
          <RouterView></RouterView>
        </div>
      </v-main>
    </v-layout>
  </div>
  </v-parallax>
</template>

<style>
body {
  font-family: 'Kanit';
}
</style>
